ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
  margin: 0;
}

button {
  outline: none;
}

body {
  padding-left: 300px;
  font-family: Montserrat Alternates;
  font-style: normal;
  display: flex;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.add-modal_backdrop {
  z-index: 100;
  background-color: #0003;
  transition: opacity .5s cubic-bezier(.17, .67, .83, .67) .25s;
  position: fixed;
  inset: 0;
}

.add-modal {
  background-color: #fff;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 3px 20px 3px #000;
}

.header {
  background-color: #6e38f7;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.header .container {
  padding-top: 40px;
  padding-left: 30px;
}

.header_logo {
  fill: #fff;
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}

.header-profil {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  background-color: #fff;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  width: 240px;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
}

.header-profil_icon {
  fill: #6e38f7;
  width: 19px;
  height: 18px;
  margin-right: 5px;
}

.header-profil_text {
  color: #6e38f7;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.header_add-post {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.header_add-icon {
  fill: #6e38f7;
  width: 30px;
  height: 30px;
}

.main {
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.main .container {
  border-left: 1px solid #6e38f7;
  border-right: 1px solid #6e38f7;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  padding-bottom: 40px;
  display: flex;
}

.main_list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 600px;
  padding-top: 40px;
  display: flex;
}

.main_item {
  background-color: #6e38f7;
  border-radius: 30px;
  width: 500px;
  height: 400px;
  padding-right: 10px;
  display: flex;
  overflow: hidden;
}

.main_info-div {
  padding-top: 30px;
  padding-left: 20px;
}

.main_author-login {
  color: #fff;
  height: fit-content;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 600;
  display: block;
}

.main_post-date {
  color: #fff;
  height: fit-content;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 400;
  display: block;
}

.main_post-img {
  width: 250px;
  height: 400px;
}

.main_likes {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: fit-content;
  margin-top: 10px;
  display: flex;
}

.main_likes-icon {
  stroke: #fff;
  stroke-width: 2px;
  fill: #0000;
  width: 20px;
  height: 18px;
  margin-left: 5px;
}

.main_post-text {
  color: #fff;
  height: fit-content;
  font-weight: 500;
}

.main_pagination-button {
  color: #6e38f7;
  background-color: #0000;
  border: 1px solid #6e38f7;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  display: block;
}
/*# sourceMappingURL=index.d62907c0.css.map */
